# Web Scrapping with Selenium

In [2]:
#!pip install selenium

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [5]:
#connecting with driver
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(2)

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [59]:
#connecting with driver
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(2)

#opening a naukri.com website on automated chrome window
driver.get('https://www.naukri.com/')

# finding elements for job search bar
search_field_designation=driver.find_element_by_class_name('suggestor-input')
search_field_designation.send_keys('Data Analyst')

#finding element for location search

search_field_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_field_location.send_keys('Bangalore')

#finding search button and click
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

time.sleep(5) # Sleep for 5 seconds to open a page

#extracting all the tags having job title,company names,location adn experience
job_title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
#len(job_title_tags)
#len(company_tags)
#len(location_tags)
#len(experience_tags)

#creating empty list to capture reults
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

# Fetching data from tags and appending in list elements
for i in range(0,10):
    job_title.append(job_title_tags[i].text)
    company_name.append(company_tags[i].text)
    experience_required.append(experience_tags[i].text)
    
# different loop becuase we are also getting "(WFH during Covid)" string in location
for j in location_tags:
    if j.text!='(WFH during Covid)':
        job_location.append(j.text)
    if len(job_location)==10:
        break

#Create data frame
jobs=pd.DataFrame({})
jobs['Title']=job_title
jobs['Company']=company_name
jobs['Location']=job_location
jobs['Experience_Required']=experience_required

driver.close()

jobs

,Title,Company,Location,Experience_Required
0,Sr Data Analyst II,IHS Markit,"Gurgaon/Gurugram, Bangalore/Bengaluru",3-6 Yrs
1,Business and Data Analyst,CAREERDOST ENTERPRISE,Bangalore/Bengaluru,0-5 Yrs
2,Senior Data Analyst,Capco,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben...",7-12 Yrs
3,Data Analyst,G S E-COMMERCE PVT LTD,Bangalore/Bengaluru(Jayanagar),4-7 Yrs
4,Data Analyst - Python / SQL,Myntra,Bangalore/Bengaluru,1-4 Yrs
5,Reference Data Analyst,Deutsche Bank,Bangalore/Bengaluru,2-5 Yrs
6,Hiring For Data Analyst with SAP ABAP & BW - C...,MILLION MINDS INFOTECH PRIVATE LIMITED,Bangalore/Bengaluru,7-10 Yrs
7,SAS Analyst / data Analyst / Business analyst ...,Leading US MNC into analytics,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",2-7 Yrs
8,Data Analyst 2-1,PayPal,Bangalore/Bengaluru,5-8 Yrs
9,Data Analyst,PayPal,Bangalore/Bengaluru,1-3 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps:

This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [61]:
#connecting with driver
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(2)

#opening a naukri.com website on automated chrome window
driver.get('https://www.naukri.com/')

# finding elements for job search bar
search_field_designation=driver.find_element_by_class_name('suggestor-input')
search_field_designation.send_keys('Data Scientist')

#finding element for location search

search_field_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_field_location.send_keys('Bangalore')

#finding search button and click
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

time.sleep(5) # Sleep for 5 seconds to open a page

#extracting all the tags having job title,company names,location adn experience
job_title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
#len(job_title_tags)
#len(company_tags)
#len(location_tags)

#creating empty list to capture reults
job_title=[]
job_location=[]
company_name=[]

# Fetching data from tags and appending in list elements
for i in range(0,10):
    job_title.append(job_title_tags[i].text)
    company_name.append(company_tags[i].text)
    
# different loop becuase we are also getting "(WFH during Covid)" string in location
for j in location_tags:
    if j.text!='(WFH during Covid)':
        job_location.append(j.text)
    if len(job_location)==10:
        break

#Create data frame
jobs=pd.DataFrame({})
jobs['Title']=job_title
jobs['Company']=company_name
jobs['Location']=job_location

driver.close()

jobs

,Title,Company,Location
0,Cognitive/AI Senior Data Scientist,IBM,Bangalore/Bengaluru
1,Lead - Data Scientist,Applied Materials,Bangalore/Bengaluru
2,Senior Associate - Data Scientist,Affine,Remote
3,Rolls-Royce Data Labs : Data Scientist,Rolls Royce,Bangalore/Bengaluru
4,Data Scientist,Applied Materials,Bangalore/Bengaluru
5,Data Scientist: Artificial Intelligence,IBM,Bangalore/Bengaluru
6,Job Opening with Wipro For Data Scientist - SAS,Wipro,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai..."
7,Senior Data Scientist,Scienaptic Systems,Bangalore/Bengaluru
8,Sr Data Scientist,Target,Bangalore/Bengaluru
9,Senior Data Scientist -Python+ML(5-7 years),Knowledge Foundry Business Solutions Pvt. Ltd.,Bangalore/Bengaluru

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below: location and salary filter

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [74]:
#connecting with driver
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(2)

#opening a naukri.com website on automated chrome window
driver.get('https://www.naukri.com/')

# finding elements for job search bar
search_field_designation=driver.find_element_by_class_name('suggestor-input')
search_field_designation.send_keys('Data Scientist')


#finding search button and click
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

time.sleep(5) # Sleep for 5 seconds to open a page

#finding location filter element to click 
filter_field_location=driver.find_element_by_xpath("//label[@for='chk-Delhi / NCR-cityTypeGid-']/i")
filter_field_location.click()

#finding Salary filter element to click 
filter_field_salary=driver.find_element_by_xpath("//label[@for='chk-3-6 Lakhs-ctcFilter-']/i")
filter_field_salary.click()

#extracting all the tags having job title,company names,location adn experience
job_title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")

#len(job_title_tags)
#len(company_tags)
#len(location_tags)
#len(experience_tags)

#creating empty list to capture reults
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

# Fetching data from tags and appending in list elements
for i in range(0,10):
    job_title.append(job_title_tags[i].text)
    company_name.append(company_tags[i].text)
    experience_required.append(experience_tags[i].text)
    
# different loop becuase we are also getting "(WFH during Covid)" string in location
for j in location_tags:
    if j.text!='(WFH during Covid)':
        job_location.append(j.text)
    if len(job_location)==10:
        break

#Create data frame
jobs=pd.DataFrame({})
jobs['Title']=job_title
jobs['Company']=company_name
jobs['Location']=job_location
jobs['Experience_Required']=experience_required

driver.close()

jobs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual.

4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [117]:
#connecting with driver
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(2)

#opening website on automated chrome window
driver.get('https://www.flipkart.com/')

# finding elements for product search 
search_field_product=driver.find_element_by_class_name('_3704LK')
search_field_product.send_keys('sunglasses')

# finding popup close button
search_button=driver.find_element_by_class_name('_2doB4z')
search_button.click()

#finding search click button
search_button=driver.find_element_by_class_name('L0Z3Pu')
search_button.submit()

time.sleep(5) # Sleep for 5 seconds to open a page

# finding next button to go to next page
search_next_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')

# list arrays to capture values
brand=[]
product_desc=[]
price=[]
discount=[]

#loop for next 3 pages to capture 100 records
for i in range(0,3):
    brand_tags=driver.find_elements_by_class_name("_2WkVRV")
    product_desc_tags=driver.find_elements_by_class_name("IRpwTa")
    price_tag=driver.find_elements_by_class_name("_30jeq3")
    discount_tag=driver.find_elements_by_class_name("_3Ay6Sb")    
    for j in range(0,40):
        brand.append(brand_tags[j].text)
        product_desc.append(product_desc_tags[j].text)
        price.append(price_tag[j].text)
        discount.append(discount_tag[j].text)
        if len(brand)==100:
            break
    search_next_button.click()
    time.sleep(5) 


#print('Brand Length: ',len(brand),'Desc Length:',len(product_desc),'Price Length:',len(price),'Discount Length:',len(discount))
# creating data frame with values
products = pd.DataFrame({})
products['Brand']=brand
products['Product_Desc']=product_desc
products['Price']=price
products['Discount']=discount

driver.close() # closing chrome driver
products

,Brand,Product_Desc,Price,Discount
0,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹630,78% off
1,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹379,81% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹649,27% off
3,Mi,Polarized Aviator Sunglasses (Free Size),₹699,41% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹649,27% off
...,...,...,...,...
95,Ray-Ban,"Mirrored, UV Protection Aviator Sunglasses (58)","₹3,349",40% off
96,CRYSTAL CART,"UV Protection, Gradient Round Sunglasses (Free...",₹419,79% off
97,ROYAL SON,"UV Protection, Gradient Wayfarer Sunglasses (55)",₹206,79% off
98,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹759,15% off
99,ROYAL SON,"Polarized, UV Protection Wrap-around Sunglasse...",₹721,63% off

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews

In [135]:
#connecting with driver
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(2)

#opening website on automated chrome window
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

time.sleep(5) # Sleep for 5 seconds to open a page

# finding all review elements for all reviews 
review_link=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[10]/div/div/div[5]/div/a/div/span')
review_link.click()


time.sleep(5) # Sleep for 5 seconds to open a page

# finding next button to go to next page
next_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span')

# list arrays to capture values
rating=[]
review_summary=[]
full_review=[]

#loop for next 10 pages to capture 100 records
for i in range(0,10):
    rating_tag=driver.find_elements_by_class_name("_1BLPMq")
    review_summary_tag=driver.find_elements_by_class_name("_2-N8zT")
    full_review_tag=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")   
    for j in range(0,10):
        rating.append(rating_tag[j].text)
        review_summary.append(review_summary_tag[j].text)
        full_review.append(full_review_tag[j].text)
    if i<=0:
        next_button.click()
    else:
        time.sleep(2) # putting time sleep for 2 seconds, sometimes page takes time to load
        next_button_from_second_page=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
        next_button_from_second_page.click()
    time.sleep(5) 


# creating data frame with values
reviews = pd.DataFrame({})
reviews['rating']=rating
reviews['review_summary']=review_summary
reviews['full_review']=full_review

driver.close() # closing chrome driver
reviews

,rating,review_summary,full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Brilliant,Amazing phone and on great deal I received wit...
96,5,Terrific purchase,finally an iPhone with very nice battery backu...
97,4,Good quality product,I'm switching this phone to oppo reno 10x zoom...
98,5,Terrific,Simply Awesome\n\nI have upgraded from iPhone ...
99,5,Best in the market!,Damn this phone is a blast . Upgraded from and...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes

In [136]:
#connecting with driver
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(2)

#opening website on automated chrome window
driver.get('https://www.flipkart.com/')

time.sleep(3) # Sleep for 3 seconds to open a page

# finding elements for product search 
search_field_product=driver.find_element_by_class_name('_3704LK')
search_field_product.send_keys('sneakers')

# finding popup close button
search_button=driver.find_element_by_class_name('_2doB4z')
search_button.click()

#finding search click button
search_button=driver.find_element_by_class_name('L0Z3Pu')
search_button.submit()

time.sleep(5) # Sleep for 5 seconds to open a page

# finding next button to go to next page
search_next_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')

# list arrays to capture values
brand=[]
product_desc=[]
price=[]
discount=[]

#loop for next 3 pages to capture 100 records
for i in range(0,3):
    brand_tags=driver.find_elements_by_class_name("_2WkVRV")
    product_desc_tags=driver.find_elements_by_class_name("IRpwTa")
    price_tag=driver.find_elements_by_class_name("_30jeq3")
    discount_tag=driver.find_elements_by_class_name("_3Ay6Sb")    
    for j in range(0,40):
        brand.append(brand_tags[j].text)
        product_desc.append(product_desc_tags[j].text)
        price.append(price_tag[j].text)
        discount.append(discount_tag[j].text)
        if len(brand)==100:
            break
    search_next_button.click()
    time.sleep(5) 


#print('Brand Length: ',len(brand),'Desc Length:',len(product_desc),'Price Length:',len(price),'Discount Length:',len(discount))
# creating data frame with values
products = pd.DataFrame({})
products['Brand']=brand
products['Product_Desc']=product_desc
products['Price']=price
products['Discount']=discount

driver.close() # closing chrome driver
products

,Brand,Product_Desc,Price,Discount
0,luxury fashion,Luxury Fashionable casual sneaker shoes Sneake...,₹449,65% off
1,HIGHLANDER,Sneakers For Men,₹669,44% off
2,URBANBOX,Sneakers Sneakers For Men,₹142,85% off
3,KWIK FIT,Kwik FIT casual sneaker shoes and partywear sh...,₹349,82% off
4,corsac,STYLISH MENS BLACK SNEAKER Sneakers For Men,₹449,70% off
...,...,...,...,...
95,HRX by Hrithik Roshan,Sneakers For Men,"₹1,734",51% off
96,SPARX,SM-439 Sneakers For Men,₹799,5% off
97,Bacan,Sneakers For Men,₹424,57% off
98,luxury fashion,Luxury Fashionable casual sneaker shoes Sneake...,₹449,65% off
99,Lee Won,Sneakers For Men,₹204,59% off

# Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image

In [146]:
#connecting with driver
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(2)

#opening website on automated chrome window
driver.get('https://www.myntra.com/shoes')
time.sleep(3) # Sleep for 3 seconds to open a page

#finding black color checkbox element
color_btn=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
color_btn.click()
time.sleep(2) # Sleep for 2 seconds to open a page

#finding price tag checkbox element
price_btn=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_btn.click()
time.sleep(2) # Sleep for 2 seconds to open a page

# finding next button to go to next page
next_btn=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]')

# list arrays to capture values
brand=[]
product_desc=[]
price=[]

#loop for next 3 pages to capture 100 records
for i in range(0,2):
    brand_tags=driver.find_elements_by_class_name("product-brand")
    product_desc_tags=driver.find_elements_by_class_name("product-product")
    price_tag=driver.find_elements_by_class_name("product-price")   
    for j in range(0,50):
        brand.append(brand_tags[j].text)
        product_desc.append(product_desc_tags[j].text)
        price.append(price_tag[j].text)
    if i<=0:
        next_btn.click()
    else:
        time.sleep(2) # putting time sleep for 2 seconds, sometimes page takes time to load
        next_button_from_second_page=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[13]')
        next_button_from_second_page.click()
    time.sleep(5) 


#print('Brand Length: ',len(brand),'Desc Length:',len(product_desc),'Price Length:',len(price))
# creating data frame with values
products = pd.DataFrame({})
products['Brand']=brand
products['Product_Desc']=product_desc
products['Price']=price

driver.close() # closing chrome driver
products

,Brand,Product_Desc,Price
0,ALDO,Men Woven Design Sneakers,Rs. 13999
1,ALDO,Men Leather Driving Shoes,Rs. 12999
2,Skechers,Men Max Cushioning Running,Rs. 7649Rs. 8999(15% OFF)
3,ALDO,Men Leather Loafers,Rs. 12999
4,Nike,Women React MR 3 Running Shoes,Rs. 8920Rs. 10495(15% OFF)
...,...,...,...
95,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
96,RARE RABBIT,Men Textured Leather Loafers,Rs. 7699Rs. 10999(30% OFF)
97,MANGO,Embellish Mid-Top Heeled Boots,Rs. 7990
98,J.FONTINI,Men Leather Formal Loafers,Rs. 7490
99,ALDO,Textured Block Pumps,Rs. 7999

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [318]:
#connecting with driver
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(2)

#opening website on automated chrome window
driver.get('https://www.amazon.in/')
time.sleep(3) # Sleep for 3 seconds to open a page

# find search bar element and enter keyword
search_input=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search_input.send_keys('Laptop')

# find search button to click
search_input=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_input.submit()

time.sleep(3) # Sleep for 3 seconds to open a page

#finding CPU type checkbox for “Intel Core i7" value
cpu_chk1=driver.find_element_by_xpath("//li[@aria-label='Intel Core i7']/span/a")
#/html/body/div[2]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[13]/span/a/div/label/i
cpu_chk1.click()
time.sleep(2) # Sleep for 2 seconds to open a page



# list arrays to capture values
title=[]
rating=[]
price=[]

title_tags=driver.find_elements_by_class_name("s-line-clamp-2") # the elements to fetch the product names
price_tags=driver.find_elements_by_class_name("a-price-whole")   # the elements to fetch the product price
for j in range(0,10):
    title.append(title_tags[j].text)
    price.append(price_tags[j].text)
    try:
        rating_element = driver.find_element_by_xpath("//span[contains(text(),'"+title[j][0:25]+"')]/../../../../div[2]/div/span") 
        rating.append(rating_element.get_attribute('aria-label').replace(' out of 5 stars',''))
    except:
        rating.append('-')
#title

#print('Brand Length: ',len(brand),'Desc Length:',len(product_desc),'Price Length:',len(price))
# creating data frame with values
products = pd.DataFrame({})
products['Title']=title
products['Price']=price
products['Rating']=rating

driver.close() # closing chrome driver
products

                                               Title     Price Rating
0  Acer Predator Helios 300 11th Gen Intel Core i...  1,69,990    5.0
1  HP Pavilion 11th Gen Intel Core i7 Processor 1...    89,990    4.3
2  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...    89,990    4.6
3  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    86,990    4.5
4  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...    57,490    4.5
5  HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...    86,990    4.5
6  Samsung Galaxy Book2 Intel 12th Gen core i7 Ev...    79,990      -
7  LG Gram Intel Evo 11th Gen Core i7 17 inches U...    93,999    4.5
8  LG Gram 16 inches Intel Evo 11th Gen Core i7 U...  1,01,112    4.3
9  HP Pavilion x360 11th Gen Intel Core i7 14 inc...    85,890    4.0

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data

In [196]:
#connecting with driver
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(2)

#opening website on automated chrome window
driver.get('https://www.ambitionbox.com/')
time.sleep(2)

#find job link to click
job_link=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')

job_link.click()
time.sleep(2)

# finding elements for job search bar
search_field_designation=driver.find_element_by_class_name('tt-input')
search_field_designation.send_keys('Data Scientist')

# finding search button elements for job search bar
search_btn=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span')
search_btn.click()
time.sleep(5)

# finding element for location dropdown
location_dropdown=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i')
location_dropdown.click()

# finding element for location
location_ele=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
location_ele.send_keys('Noida')
time.sleep(2)

# finding element for noida location radio button
location_radio=driver.find_element_by_id('location_Noida')
location_radio.click()

time.sleep(2) # Sleep for 2 seconds to open a page

#extracting all the tags having ,company names,location adn experience
company_tags=driver.find_elements_by_xpath("//div[@class='info']/div/p")
company_ratings=driver.find_elements_by_xpath("//div[@class='info']/div/div/a/span")
company_daysago=driver.find_elements_by_xpath("//div[@class='other-info']/span[1]")
#len(company_tags)
#len(company_ratings)
#len(company_daysago)

#creating empty list to capture reults
company=[]
rating=[]
daysago=[]

# Fetching data from tags and appending in list elements
for i in range(0,10):
    company.append(company_tags[i].text)
    rating.append(company_ratings[i].text)
    daysago.append(company_daysago[i].text)


#Create data frame
jobs=pd.DataFrame({})
jobs['Company']=company
jobs['Rating']=rating
jobs['# of days ago']=daysago

driver.close()

jobs

                                            Company Rating # of days ago
0                     GENPACT India Private Limited    4.0       12d ago
1                  EXL Services.com ( I ) Pvt. Ltd.    3.9        5d ago
2                     GENPACT India Private Limited    4.0       17d ago
3  TECHNIP GLOBAL BUSINESS SERVICES PRIVATE LIMITED    3.9        3d ago
4                                 Tech Mahindra Ltd    3.7      1mon ago
5                     GENPACT India Private Limited    4.0      1mon ago
6                         Bristlecone India Limited    3.8       12d ago
7                                             Zyoin    4.1       16d ago
8                Ashkom Media India Private Limited    3.7        3d ago
9                 Newgen Software Technologies Ltd.    3.5       18d ago

In [ ]:
Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.

In [259]:
#connecting with driver
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(2)

#opening website on automated chrome window
driver.get('https://www.ambitionbox.com/')
time.sleep(2)

#find salary link to click
salary_link=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
salary_link.click()
time.sleep(2)

# finding elements for job profile search bar
search_field_designation=driver.find_element_by_id('jobProfileSearchbox')
search_field_designation.send_keys('Data Scientist')

time.sleep(2)

#finding 'Data Scientists' quick search element
reslt_designations=driver.find_elements_by_class_name("tt-selectable")
reslt_designations[0].text
for val in reslt_designations:
    if val.text=='Data Scientist':
        val.click()

time.sleep(2)
company_tags=driver.find_elements_by_xpath("//div[@class='name']/a")
total_salaries_tags=driver.find_elements_by_xpath("//div[@class='name']/span")
experience_req_tags=driver.find_elements_by_xpath("//div[@class='company-info']/div[2]")
avg_ctc_tags=driver.find_elements_by_xpath("//div[@class='results-body']//p[@class='averageCtc']")
min_ctc_tags=driver.find_elements_by_xpath("//div[@class='results-body']//div[@class='salary-values']/div[1]")
max_ctc_tags=driver.find_elements_by_xpath("//div[@class='results-body']//div[@class='salary-values']/div[2]")

#print(len(company_tags),'-',len(total_salaries_tags),'-',len(experience_req_tags),'-',len(avg_ctc_tags),'-',len(min_ctc_tags),'-',len(max_ctc_tags))
# creating empty lists
company=[]
total_salaries=[]
experience_req=[]
avg_ctc=[]
min_ctc=[]
max_ctc=[]

# Fetching data from tags and appending in list elements
for i in range(0,10):
    company.append(company_tags[i].text)
    total_salaries.append(total_salaries_tags[i].text.replace("(","").replace(")",""))
    experience_req.append(experience_req_tags[i].text.replace("Data Scientist\n . \n",""))
    avg_ctc.append(avg_ctc_tags[i].text)
    min_ctc.append(min_ctc_tags[i].text)
    max_ctc.append(max_ctc_tags[i].text)


#Create data frame
salaries=pd.DataFrame({})
salaries['Company']=company
salaries['Total_Salaries']=total_salaries
salaries['Experience']=experience_req
salaries['Avg_CTC']=avg_ctc
salaries['Min_CTC']=min_ctc
salaries['Max_CTC']=max_ctc

#driver.close()

salaries

,Company,Total_Salaries,Experience,Avg_CTC,Min_CTC,Max_CTC
0,Walmart,based on 11 salaries,3 yrs exp,₹ 29.7L,₹ 25.0L,₹ 35.0L
1,Ab Inbev,based on 32 salaries,3-4 yrs exp,₹ 20.5L,₹ 15.0L,₹ 25.5L
2,Reliance Jio,based on 10 salaries,4 yrs exp,₹ 18.9L,₹ 5.6L,₹ 26.2L
3,ZS,based on 15 salaries,2 yrs exp,₹ 15.9L,₹ 9.8L,₹ 20.0L
4,Optum,based on 27 salaries,3-4 yrs exp,₹ 15.2L,₹ 11.0L,₹ 22.0L
5,Fractal Analytics,based on 81 salaries,2-4 yrs exp,₹ 15.2L,₹ 9.5L,₹ 22.0L
6,Tiger Analytics,based on 46 salaries,2-4 yrs exp,₹ 14.8L,₹ 9.0L,₹ 20.0L
7,UnitedHealth,based on 53 salaries,2-4 yrs exp,₹ 14.0L,₹ 8.3L,₹ 20.5L
8,Verizon,based on 14 salaries,4 yrs exp,₹ 12.7L,₹ 10.0L,₹ 21.0L
9,Ganit Business Solutions,based on 13 salaries,4 yrs exp,₹ 12.4L,₹ 8.5L,₹ 15.0L